<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.youtube.client.dao.ClientMapper">
	<select id="getList" resultType="com.joy.youtube.model.YoutubeVO">
		SELECT * FROM yf_youtube order by y_no
	</select>
	
	<select id="getVideoDetail" resultType="com.joy.youtube.model.YoutubeVO">
		SELECT y_url, y_title FROM yf_youtube WHERE y_no = #{y_no}
	</select>
</mapper>