<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserVO" type="com.joy.youtube.model.UserVO"/>
		<typeAlias alias="YoutubeVO" type="com.joy.youtube.model.YoutubeVO"/>
		<typeAlias alias="CommentVO" type="com.joy.youtube.model.CommentVO"/>
		<typeAlias alias="GallaryVO" type="com.joy.youtube.model.GallaryVO"/>
	</typeAliases>
</configuration>